:root {
  --default-color: #404040;
  --primary-font-color: white;
  --primary-color: blue;
  --secondary-color: hotpink;
  --accent-color: turquoise;
  --ghost-color: none;
}

body {
  gap: 2rem;
  display: block;
  justify-content: center;
}

pre {
  border: 1px solid black;
  font-size: 10px;
  padding: 5px;
  width: fit-content;
}

.button {
  width: fit-content;
  display: flex;
  gap: 20px;
}

#doc-section {
  border: 1px solid black;
  width: fit-content;
  padding: 20px;
  margin-top: 10px;
}

#content {
  max-width: 500px;
  margin: auto;
}
